name: Kiraz CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake bison flex libfl-dev libgtest-dev

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      run: |
        cd ${{github.workspace}}/build
        make -j4

    - name: Run Tests
      run: |
        cd ${{github.workspace}}/build
        ctest --output-on-failure
